#welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;

    /* Imagem de fundo */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.launchbox-app.com%2Fa745e581-7955-4049-84fc-36dd7e3904f7.jpg&f=1&nofb=1&ipt=5a451b65744df634c6f85cdb2cffaf781af17a0794960fb1663d70d5c73633b9&ipo=images');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 8px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

footer {
    position: absolute;
    bottom: 10%;
    background: rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: 60%;
    color: white;
    font-size: 15px;
    opacity: 0.8;
}

footer p {
    margin: 0;
    padding: 0;
}